*.svs
.vscode/settings.json
.Rproj.user
.Rhistory
renv.lock
renv/activate.R
.DS_Store
CD20_files
CD20.dzi
CD20.html
CD3_files
CD3.dzi
CD3.html
CD8_files
CD8.dzi
CD8.html
HE-gastritis_files
HE-gastritis.dzi
HE-gastritis.html
HE-deneme2.html
TwoChannelExample.zip
HEome.*
imageome_files
imageome.dzi
HEtif.html
imagetif_files
imagetif.dzi
*.tif


/.quarto/

docs
